/**
 * Body CSS
 */
 html,
 body {
   height: 100%;
   background-color: #eee;
 }
 
 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
 }
 
 
 /**
  * Layout CSS
  */
 #header {
   display: flex;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   z-index: 2;
   transition: left 0.2s;
   background-color: forestgreen !important;
 }

 #nav-header {
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
 }

 #nav-title {
  color: whitesmoke;
  margin: 0;
 }

 #nav-sesion{
   color: whitesmoke;
   margin: 0 20px;
   cursor: pointer;
 }
 #nav-sesion:hover, #nav-title:hover{
  color: white;
 }

 #sidedrawer {
   position: fixed;
   top: 0;
   bottom: 0;
   width: 200px;
   left: -200px;
   overflow: auto;
   z-index: 2;
   background-color: #fff;
   transition: transform 0.2s;
 }
 
 #content-wrapper {
   min-height: 100%;
   overflow-x: hidden;
   margin-left: 0px;
   transition: margin-left 0.2s;
 
   /* sticky bottom */
   margin-bottom: -160px;
   padding-bottom: 160px;
 }
 
 #footer {
   height: 160px;
   margin-left: 0px;
   transition: margin-left 0.2s;
 }
 
 @media (min-width: 768px) {
   #header {
     left: 200px;
   }
 
   #sidedrawer {
     transform: translate(200px);
   }
 
   #content-wrapper {
     margin-left: 200px;
   }
 
   #footer {
     margin-left: 200px;
   }
 
   body.hide-sidedrawer #header {
     left: 0;
   }
 
   body.hide-sidedrawer #sidedrawer {
     transform: translate(0px);
   }
 
   body.hide-sidedrawer #content-wrapper {
     margin-left: 0;
   }
 
   body.hide-sidedrawer #footer {
     margin-left: 0;
   }
 }
 
 
 /**
  * Toggle Side drawer
  */
 #sidedrawer.active {
   transform: translate(200px);
 }
 
 
 /**
  * Header CSS
  */
 .sidedrawer-toggle {
   color: #fff;
   cursor: pointer;
   font-size: 20px;
   line-height: 20px;
   margin-right: 10px;
 }
 
 .sidedrawer-toggle:hover {
   color: #fff;
   text-decoration: none;
 }
 
 
 /**
  * Footer CSS
  */
 #footer {
   background-color: #0288D1;
   color: #fff;
 }
 
 #footer a {
   color: #fff;
   text-decoration: underline;
 }

 /**
 * Side drawer CSS
 */
#sidedrawer-brand {
  padding-left: 20px;
  background-color: #fff;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}


.hiden-items {
  display: none;
}

.show-items {
  overflow: hidden;
  transition: 0.4s ;
}

/* HEADER  */
.mui-appbar{
  background-color: forestgreen !important;
}


/* Content */
.mui-panel{
  margin-top: 20px;
}

.icon {
  background-color: rgba(0, 0, 0, 0.08);
  
}

/* Panel Login & Register */
.panel-login, .panel-register{
  width: 30%;
  min-width: 300px;
  margin: 0 auto 0 auto;

}

.mui-tabs__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding:  0 0 20px 0;
}

#LoginForm, #RegisterForm {
  display: flex;
  flex-direction: column;
}
#LoginForm input, #RegisterForm input {
  flex-grow: 1;
}

/* button login */
.btn-login,  .btn-register {
  align-self: flex-end;
  flex-grow: 1;
}

.container-Login {
  display: flex;
  justify-content: center;
}


.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000c;
/* Chart */
}
#chart-container {
  display: flex;

  justify-content: center;
}

/* Header Modal */
.header-modal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#close-modal{
  cursor: pointer;
}